{
  "extends": "@react-native-community",
  "parser": "@babel/eslint-parser",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }]
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
